---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
---
Language: Cpp
AlwaysBreakTemplateDeclarations: Yes
FixNamespaceComments: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
AllowShortCaseLabelsOnASingleLine: true
AlignTrailingComments: false
NamespaceIndentation: None
AccessModifierOffset: -4