[Unit]
Description=Doorman

[Service]
Type=simple
User=xania
TimeoutStartSec=infinity
WorkingDirectory=/home/xania/xania/infra
ExecStart=/home/xania/xania/infra/scripts/start-doorman.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=doorman

[Install]
WantedBy=multi-user.target
