[Unit]
Description=Doorman
After=network.target

[Service]
Type=simple
TimeoutStartSec=infinity
WorkingDirectory=/home/xania/xania/infra/scripts
ExecStart=/home/xania/xania/infra/scripts/start-doorman.sh
StandardOutput=append:/home/xania/data/log/doorman.log
SyslogIdentifier=doorman

[Install]
WantedBy=default.target
