[Unit]
Description=Xania MUD

[Service]
Type=simple
TimeoutStartSec=infinity
WorkingDirectory=/home/xania/xania/infra/scripts
ExecStart=/home/xania/xania/infra/scripts/start-xania.sh
StandardOutput=append:/home/xania/data/log/xania.log
SyslogIdentifier=xania
Restart=on-success

[Install]
WantedBy=default.target
