name: C/C++ CI

on: [push, pull_request]

jobs:
  check-code-format:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: configure
        run: make check-format
  build-and-test:
    runs-on: ${{ matrix.os }}
    env:
      CC: gcc-${{ matrix.gcc_version }}
      CXX: g++-${{ matrix.gcc_version }}
    strategy:
      matrix:
        gcc_version: [ 10, 11 ]
        os: [ ubuntu-20.04 ]
        build_type: [ debug, release ]
    steps:
      - uses: actions/checkout@v1
      - name: install-compiler
        run : sudo apt-get update && sudo apt-get install ninja-build g++-${{ matrix.gcc_version }} -y
      - name: configure
        run: cmake -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -S ./conan/ -B cmake-build-${{ matrix.build_type }}
      - name: build
        run: cmake --build cmake-build-${{ matrix.build_type }}
      - name: test
        run: cd cmake-build-${{ matrix.build_type }} && ctest --verbose
  deploy-code:
    if: ${{ github.ref_name == 'main' }}
    needs: build-and-test
    runs-on: ubuntu-20.04
    env:
      CC: gcc-11
      CXX: g++-11
    steps:
      - uses: actions/checkout@v1
      - name: install-compiler
        run : sudo apt-get update && sudo apt-get install ninja-build g++-11 -y
      - name: configure
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=release \
            -DBUILD_VERSION="$GITHUB_RUN_NUMBER" \
            -DBUILD_COMMIT_URL="$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/tree/$GITHUB_SHA" \
            -DBUILD_FULL_VERSION="$GITHUB_RUN_NUMBER $GITHUB_SHA on $GITHUB_REF" \
            -S ./conan/ -B cmake-build-release
      - name: build
        run: cmake --build cmake-build-release
      - name: package
        run: cmake --install cmake-build-release --prefix cmake-build-install
      - name: tarball # TODO probably branch name here?
        run: tar Jcvf xania-$GITHUB_RUN_NUMBER.tar.xz --transform "s|^cmake-build-install|./xania-$GITHUB_RUN_NUMBER|" cmake-build-install
      - name: Upload file to bucket

        uses: zdurham/s3-upload-github-action@master
        env:
          FILE: xania-${{ github.run_number }}.tar.xz
          AWS_REGION: 'us-east-1'
          S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          S3_KEY: releases/xania-${{ github.run_number }}.tar.xz
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
